Adafruit-Blinka==8.66.2
adafruit-blinka-displayio==2.3.1
adafruit-circuitpython-bitmap_font==2.3.2
adafruit-circuitpython-busdevice==5.2.14
adafruit-circuitpython-connectionmanager==3.1.6
adafruit-circuitpython-display-text==3.3.4
adafruit-circuitpython-display_shapes==2.10.4
adafruit-circuitpython-httpserver==4.7.1
adafruit-circuitpython-requests==4.1.14
adafruit-circuitpython-ticks==1.1.5
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.84.1
Adafruit-PureIO==1.1.11
appdirs==1.4.4
binho-host-adapter==0.1.6
certifi==2025.10.5
charset-normalizer==3.4.4
circuitpython-stubs==10.0.3
circup==2.2.3
click==8.3.0
idna==3.11
pyftdi==0.57.1
pyserial==3.5
pyusb==1.3.1
requests==2.32.5
semver==3.0.4
sysv_ipc==1.1.0
toml==0.10.2
typing_extensions==4.15.0
update-checker==0.18.0
urllib3==2.5.0
